html{
  height:200%;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
#head{
  height: 45px;
  color: #fff994;
  text-align: center;
  background-image: linear-gradient(to right, #8be5ff, #fc7cff);
  margin: none;
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#btn1{
  margin-top: 45px;
  background-color: #dafbff;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  height: 50px;
  width: 235px;
  position: absolute;
  transform: scale(1);
  transition: transform 0.4s ease;
  cursor: pointer;
}
#btn1:hover{
  transform: scale(0.8) rotate(360deg);
  background-color: #ff7c7c;
}
#btn1:active{
  transform: scale(1);
}
#intro{
  margin-top: 95px;
}
